
<app-header></app-header>
<!-- product-list.component.html -->
<hr>
<div class="container">
  
  <div>
   
    <ul class="d-flex">
      <li *ngFor="let category of categories">
        <a href="#">{{ category }}</a>
      </li>
    </ul>
  </div>

  

  <div class="d-flex">
   
    <input type="text" placeholder="Search products...">
    <button (click)="openProductAddDialog()" mat-raised-button color="primary">Add Product</button>
  </div>

  <div>
    <h3>Filters</h3>
    <!-- Include filter options here -->
    <!-- Example: -->
    <label>Brand:</label>
    <input type="text">
    <label>Ratings:</label>
    <input type="number">
    <!-- Add more filter options as needed -->
  </div>

  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ product.productName }}</mat-card-title>
         
        </mat-card-header>
        <img mat-card-image [src]="product.productImage" alt="Product Image">
        <mat-card-content>
         
          <p>Category: {{ product.productCategory }}</p>
          <p>Brand: {{ product.productBrand }}</p>
          <p>Price: {{ product.productPrice }}</p>
          <p>Ratings: {{ product.productRatings }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

 
</div>




<app-footer></app-footer>
