


<div class="bg-image"></div>
<div class="container">
    <div class="row d-flex justify-content-center align-items-center vh-100">
        <div class="card bg-transparent col-md-8 col-lg-6 col-sm-10 col-xs-10 py-3 shadow px-3">
            <div class="card-body">
                <h1 class="card-title text-center mb-3">Reset Password</h1>
              
                <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                    
                    <div class="mb-3 ">
                        <div class="mb-2 position-relative">
                            <input type="password" [(ngModel)]="newPassword" class="form-control py-3 rounded-pill font-monospace fs-5"
                            formControlName="password" placeholder="Password" required>
                        <i class='bx bxs-lock-alt position-absolute p-3 end-0 fs-3 '></i>
                        </div>
                        
                        <div *ngIf="resetForm?.get('password')?.invalid && (resetForm?.get('password')?.dirty || resetForm?.get('password')?.touched)" class="text-danger fs-5">Password must contains atleast 1 lower and upper case, digits, and special characters.</div>
                    </div>
                        
                       <div class="mb-4 position-relative">
                        <div class="mb-2 position-relative">
                            <input type="password" class="form-control py-3 rounded-pill font-monospace fs-5" id="confirmpassword"  formControlName="confirmpassword" name="confirmpassword" placeholder="Confirm your Password">
                        <i class='bx bxs-lock-alt position-absolute p-3 end-0 fs-3'></i>
                        </div>
                        
                        <div *ngIf="resetForm?.get('confirmpassword')?.invalid && (resetForm?.get('confirmpassword')?.dirty || resetForm?.get('confirmpassword')?.touched)" class="text-danger">Passwords do not match.</div>
                       </div>
                        

                  
                    <div class="mb-2 button d-flex justify-content-center align-items-center gap-4">
                        <button type="submit"
                            class="btn btn-primary  px-4 py-2 fs-6 ">Reset</button>
                            <button routerLink="/login" class="btn btn-secondary px-4 py-2 fs-6">Cancel</button>

                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <div *ngIf="resetStatus" class="font-monospace bgsuccess fs-5">{{ resetStatus }}</div>
                    </div>
                    
                  
                   
                </form>
            </div>
        </div>
    </div>
</div>

