


 <!-- forgot-password.component.html -->
 <div class="bg-image"></div>
 <div class="container">
     <div class="row d-flex justify-content-center align-items-center vh-100">
         <div class="card bg-transparent col-md-8 col-lg-6 col-sm-10 col-xs-10 py-3 shadow px-3">
             <div class="card-body">
                 <h1 class="card-title text-center mb-3 font-monospace fs-2">Forgot Password</h1>
               
                 <form [formGroup]="forgotForm" (ngSubmit)="submitForgotPassword()">
                     <p class="mb-4 fs-4 lh-base">
                         Enter your email and we'll send you instructions
                         on how to reset your password.
                     </p>
                     <div class="mb-3 ">
                         <div class="mb-2 position-relative">
                             <input type="email" class="form-control py-3 rounded-pill font-monospace fs-5"
                             formControlName="email" placeholder="Enter your email address" required>
                         <i class='bx bxs-user position-absolute p-3 end-0 fs-3'></i>
                         </div>
                         
                         <div *ngIf="forgotForm?.get('email')?.invalid && (forgotForm?.get('email')?.dirty || forgotForm?.get('email')?.touched)" class="text-danger fs-5">Please enter a valid email address.</div>
                     </div>
                   
                     <div class="mb-2 button d-flex justify-content-center align-items-center gap-4">
                         <button type="submit"
                             class="btn btn-primary  px-4 py-2 fs-6 ">Reset</button>
                             <button routerLink="/login" class="btn btn-secondary px-4 py-2 fs-6">Cancel</button>
 
                     </div>
 
                     <div class="message">
                         <p class="text-center font-monospace fs-5 ">{{successMessage}}</p>
                     </div>
                   
                 </form>
             </div>
         </div>
     </div>
 </div>
 
 